/** Comum **/

body, html {
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #2d3c49;
  max-width: 950px;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}
/*** Cabecalho ***/
.container_header{
  margin: 0 auto;
  width: 100%;
  display: flex;
}
.coluna_50{
  width: 50%;
}

/* Linha */
.linha{
  height: 5px;
  width: 100%;
  background-color: #7d97ad;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*** Organizacao ***/

.float_direita{
  float: right;
}

.float_esquerda{
  float: left;
}

/*** Logo ***/

.logo{
  margin-top: 20px;
  height: auto;
  width: 20%;
}

/* Imagem principal*/

.main{
  width: 100%;
  flex-wrap: wrap;
}

/*Alinhamento*/

.alin_direita {
    text-align: right;
}
.alin_esquerda {
    text-align: left;
}
.alin_centro {
    text-align: center;
}

/*Texto*/

h1 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 1px;
    font: 62px sans-serif;
    color:#2d3c49;
}

h2,.h2 {
    color:#7d97ad;
    font: 35px sans-serif;
}

h3 {
    text-transform: uppercase;
    font: 22px sans-serif;
    color:#2d3c49;
}

a {
  color:#2d3c49;
}

/* Rodape*/

.container_footer{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.coluna_33{
  width: 33%;
}

.main_footer{
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* Texto Responsivo */

@media screen and (max-width: 856px) {
  h1 {
    font: 42px sans-serif;
  }
  h2{
    font: 20px sans-serif;
  }
  h3 {
    font: 14px sans-serif;
  }
  body{
    max-width: 856px;
  }
  .coluna_33{
    width: 100%;
  }
}
@media screen and (max-width: 580px) {

  h1 {
    font: 22px sans-serif;
  }
  h3 {
    font: 7px sans-serif;
  }
}
